/* variables */
.light-mode {
    --bg-color: #404040e2;
    --main-bg-color: #f1f1f1;
    --input-bg-color: #d7d7cf;
    --input-bg-color-hover: rgba(199, 199, 189, 0.871);
    --input-contrast-color: #F7F7F7;
    --text-color: black;
}

.dark-mode {
    --bg-color: #3f3f3f;
    --main-bg-color: #282828;
    --input-bg-color: #575757;
    --input-bg-color-hover: #8b8b8b;
    --input-contrast-color: #717171;
    --text-color: whitesmoke;
}

/* all */
* {
    margin: 0;
    padding: 0;

    color: var(--text-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* body */
body {
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* header */
header {
    position: absolute;
    top: 1rem;
    right: 1.2rem;
}

header button {
    display: flex;
    justify-content: center;

    background-color: var(--input-bg-color);
}

/* main */
main {
    width: 77vw;
    margin: auto;
    padding: 10px;

    border-radius: 8px;
    background-color: var(--main-bg-color);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.main-content {
    display: flex;
    padding-top: 1rem;
}

.controlls {
    display: flex;
    flex-direction: column;
    margin-right: 0.5rem;

    font-size: 0.9em;
}

#inputs {
    height: fit-content;
    padding: 0.5rem;

    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);

    background-color: var(--input-bg-color);
}

#inputs label {
    background-color: inherit;
    margin-bottom: 0.1rem;
}

.copy {
    padding: 0.5rem;
    margin: 0.75rem 0.5rem 0px 0px;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    font-size: 0.9em;
    font-weight: 600;

    border-radius: 10px;
}

.inputfield {
    display: block;
    margin-bottom: 0.5rem;

    font-size: 1em;
    font-weight: 478;

    background-color: var(--input-contrast-color);
}

#zoombutton {
    margin-top: 1rem;
}

#input_calcbutton {
    width: 100%;
}

#decaychart__box {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.zoomlabel {
    font-size: 0.5em;
}

/* media query for smaller devices */
@media (max-width: 768px) {
    body {
        background-color: var(--main-bg-color);
        align-items: flex-start;
        justify-content: center;
    }

    main {
        margin-top: 1.75rem;
        width: 100%;
        padding: 0px;
        box-shadow: none;
    }

    .information {
        margin: 0px 1rem;
    }

    .main-content {
        display: block;
    }

    #decaychart__box {
        padding: 0px;
    }

    .controlls {
        display: flex;
        margin: 0.5rem 1rem 1rem 1rem;
    }

    .decaychart__container {
        margin: 0px 1rem;
    }

    .zoomlabel,
    .copy {
        display: none;
    }

    .inputfield {
        width: 98%;
    }
}

main div,
main label {
    background-color: var(--main-bg-color);
}

input,
button {
    background-color: var(--input-bg-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    padding: 0.25em;
}

button {
    cursor: pointer;
}

button:hover {
    background-color: var(--input-bg-color-hover);
}

button:active {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    transform: translateY(1px);
}

.clipboard_animation {
    max-height: 2em;
}

.clipboard_animation .span {
    margin-left: 50%;
}

.st0.animation {
    animation: clipboard 1.5s linear forwards;
}

.st1.animation {
    animation: draw-check 1.2s linear forwards;
}

#CLIPBOARD {
    fill: none;
    stroke: var(--text-color);
    stroke-width: 5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#DONE {
    fill: none;
    stroke: green;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st0 {
    stroke-dasharray: 250;
    stroke-dashoffset: 0;
}

.st1 {
    stroke-dasharray: 111;
    stroke-dashoffset: 111;
}

@keyframes draw-check {
    0% {
        stroke-dashoffset: 111;
    }

    30%,
    68% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 111;
    }
}

@keyframes clipboard {
    0% {
        stroke-dashoffset: 0;
    }

    30%,
    60% {
        stroke-dashoffset: 250;
    }
}

hr {
    margin: 0.6rem 0.5rem;
}

/* .st0{fill:none;stroke:#231F20;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st1{fill:none;stroke:#39B54A;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;} */